<div class="dynamic-post">
    <div>
        <form name="deadlineForm" ng-submit="createDeadline()" novalidate>
            <div class="dynamic-meta">
                <input type="text" name="title" placeholder="Title" data-ng-model="deadline.deadline.title" required>
                <div style="float: right;">
                    <select id="" name="day" data-ng-options="day for day in days" data-ng-model="deadline.deadline.day" required>
                    </select>
                    <select id="" name="month" data-ng-options="month.id as month.name for month in months" data-ng-model="deadline.deadline.month" required>
                    </select>
                    <select id="" name="year" data-ng-options="year for year in years" data-ng-model="deadline.deadline.year" required>
                    </select>
                </div>
            </div>
            <div class="dynamic-sub-meta">
                <input type="text" name="subject" placeholder="Subject" data-ng-model="deadline.deadline.subject" required>
                <input type="text" name="time" placeholder="12:00" data-ng-model="deadline.deadline.time" style="float: right; text-align: right;" required>
                <!-- <select id="" name=""></select> -->
            </div>
            <div class="dynamic-content">
                <div text-angular ng-model="deadline.deadline.content"  ta-toolbar-button-class="btn-editor"></div>
                <div data-ng-repeat="choice in choices">
                    <select id="" name="klass" data-ng-change="checkAvailableKlasses($index)"  data-ng-options="klass.id as klass.name for klass in
                    availableKlasses[$index]" data-ng-model="choice.value" placeholder="Class" required>
                        <option value="" disabled selected>Select your class</option>
                    </select>
                    <button class="remove" ng-show="!$first" ng-click="removeChoice($index)">X</button>
                </div>
                <a id="addNewChoice" ng-click="addNewChoice()">More</a>
                <button class="btn_save" type="submit" style="margin: 0 auto;">Post deadline</button>
            </div>
            <div class="error_block" ng-messages="deadlineForm.title.$error" ng-if="deadlineForm.title.$touched || submitted">
                <p ng-message="required">Title is required</p>
            </div>
            <div class="error_block" ng-messages="deadlineForm.subject.$error" ng-if="deadlineForm.subject.$touched || submitted">
                <p ng-message="required">Subject is required</p>
            </div>
            <div class="error_block" ng-messages="deadlineForm.time.$error" ng-if="deadlineForm.time.$touched || submitted">
                <p ng-message="required">Time is required</p>
            </div>
            <div class="error_block"  ng-if="(deadline.deadline.content == null && submitted) || (deadline.deadline.content == '' && submitted)">
                <p>Content is required</p>
            </div>
            <div class="error_block" ng-messages="deadlineForm.klass.$error" ng-if="deadlineForm.klass.$touched || submitted">
                <p ng-message="required">Class is required</p>
            </div>
        </form>
    </div>
</div>
