<div class="dynamic-post">
    <div class="calendar-selection">
        <div class="calendar-top-bar">
            <a href="#" style="float: left; ">Cancel</a>
            <a href="#" class="calendar-previous" style="float: left;
            padding: 20px 20px;
            background-image: url('assets/img/arrow_left.svg');
            transform: translateY(-6px);
            background-size: cover;
            background-color: white;"></a>
            <div>
                <div id="current_year" style="font-size: 10px;">2015</div>
                <div id="current_month">September</div>
            </div>

            <a href="#" style="float: right;"" class="calendar-today">Today</a>
            <a href="#" class="calendar-next" style="    float: right;
            padding: 20px 20px;
            background-image: url('assets/img/arrow_right.svg');
            transform: translateY(-6px);
            background-size: cover;
            background-color: white;"></a>

        </div>

        <div class="weekdays">
            <div>
                <div class="day">Sun</div>
            </div>
            <div>
                <div class="day">Mon</div>
            </div>
            <div>
                <div class="day">Tue</div>
            </div>
            <div>
                <div class="day">Wed</div>
            </div>
            <div>
                <div class="day">Thu</div>
            </div>
            <div>
                <div class="day">Fri</div>
            </div>
            <div>
                <div class="day">Sat</div>
            </div>
        </div>
    </div>




    <div>
        <p style="text-align: center; font-size: 14px; margin: 6px 0px;">New Deadline</p>
        <form name="deadlineForm" ng-submit="deadlineNew.createDeadline()" novalidate>
            <div class="edit-meta">
                <input type="text" name="title" placeholder="Title" data-ng-model="deadlineNew.deadline.deadline.title" required>
                <div style="float: right;">
                    <select id="" name="day" data-ng-options="day
                        for day in deadlineNew.days"
                        data-ng-model="deadlineNew.deadline.deadline.day" required>
                    </select>
                    <select id="" name="month"
                        data-ng-options="month.id as month.name
                        for month in deadlineNew.months"
                        data-ng-model="deadlineNew.deadline.deadline.month" required>
                    </select>
                    <select id="" name="year"
                        data-ng-options="year for year in
                        deadlineNew.years"
                        data-ng-model="deadlineNew.deadline.deadline.year" required>
                    </select>
                </div>
            </div>
            <div class="edit-sub-meta">
                <input type="text" name="subject" placeholder="Subject" data-ng-model="deadlineNew.deadline.deadline.subject" required>
                <input type="text" name="time" placeholder="12:00" data-ng-model="deadlineNew.deadline.deadline.time" style="float: right; text-align: right;" required>
                <!-- <select id="" name=""></select> -->
            </div>
            <div class="dynamic-content">
                <div text-angular ng-model="deadlineNew.deadline.deadline.content"  ta-toolbar-button-class="btn-editor"></div>
                <div data-ng-repeat="choice in deadlineNew.choices">
                    <select id="" name="klass" data-ng-change="deadlineNew.onChange()"  data-ng-options="klass.id as klass.name for klass in
                    deadlineNew.availableKlasses[$index]" data-ng-model="choice.value" placeholder="Class" required>
                        <option value="" disabled selected>Select your class</option>
                    </select>
                    <a class="remove" ng-show="!$first && (choice.value == null)" ng-click="deadlineNew.removeChoice($index)">X</a>
                </div>
                <a id="addNewChoice" ng-click="deadlineNew.addNewChoice()">More</a>
                <button class="btn_save" type="submit" style="margin: 0 auto;">Post deadline</button>
            </div>
            <div class="error_block" ng-messages="deadlineForm.title.$error" ng-if="deadlineForm.title.$touched || deadlineNew.submitted">
                <p ng-message="required">Title is required</p>
            </div>
            <div class="error_block" ng-messages="deadlineForm.subject.$error" ng-if="deadlineForm.subject.$touched || deadlineNew.submitted">
                <p ng-message="required">Subject is required</p>
            </div>
            <div class="error_block" ng-messages="deadlineForm.time.$error" ng-if="deadlineForm.time.$touched || deadlineNew.submitted">
                <p ng-message="required">Time is required</p>
            </div>
            <div class="error_block"  ng-if="(deadline.deadline.content == null && submitted) || (deadline.deadline.content == '' &&
                deadlineNew.submitted)">
                <p>Content is required</p>
            </div>
            <div class="error_block" ng-messages="deadlineForm.klass.$error" ng-if="deadlineForm.klass.$touched || deadlineNew.submitted">
                <p ng-message="required">Class is required</p>
            </div>
        </form>
    </div>
</div>
