<div id="dynamic_left" data-ng-controller="NavCtrl">
    <div id="dynamic_left_content" class="dynamic_left_content">
        <div id="list">
            <div class="list_wrapper" data-ng-repeat="deadlineListItem in deadlineList.deadlines">
                <div id="{{deadlineListItem.id}}" class="deadline" data-ng-click="getDeadline(deadlineListItem.id)" data-distance="{{deadlineListItem.data_distance}}" data-deadline="{{deadlineListItem.deadline}}">
                    <div class="deadline_head">
                        <div class="title">
                            {{ deadlineListItem.title }}
                            <span class="count_down" style="float: right; text-align: right">03</span>
                        </div>
                        <div class="subject">
                            {{ deadlineListItem.subtitle }}
                            <span style="text-transform: uppercase;">
                            </span>
                            <span class="count_down_unit" style="float: right; text-align: right">
                                <span>Weeks</span>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="dynamic_right">
    <div id="dynamic_right_content" data-ng-switch on="deadlineState">
        <div data-ng-switch-when="view">
            <div data-ng-include="'app/components/deadlines/deadlineViewContentView.html'"></div>
        </div>
        <div data-ng-switch-when="edit" >
            <div data-ng-include="'app/components/deadlines/deadlineEditContentView.html'"></div>
        </div>
        <div data-ng-switch-default>
        </div>
    </div>
</div>
