<div class="dynamic-post">
    <div class="calendar-selection" data-ng-hide="!deadlineNew.calendarSelection">
        <div class="calendar-top-bar">
            <a href="#" style="float: left;" ng-click="deadlineNew.closeCalendar()">Cancel</a>
            <a href="#" class="calendar-previous" ng-click="deadlineNew.calendarPrevious()" style="float: left;
            padding: 20px 20px;
            background-image: url('assets/img/arrow_left.svg');
            transform: translateY(-6px);
            background-size: cover;
            background-color: white;"></a>
            <div>
                <div id="current_year" style="font-size: 10px;">{{ deadlineNew.calendar.year }}</div>
                <div id="current_month">{{ deadlineNew.calendar.months[deadlineNew.calendar.month] }}</div>
            </div>

            <a href="#" class="calendar-today" ng-click="deadlineNew.calendarToday()" style="float: right;">Today</a>
            <a href="#" class="calendar-next" ng-click="deadlineNew.calendarNext()" style="float: right;
            padding: 20px 20px;
            background-image: url('assets/img/arrow_right.svg');
            transform: translateY(-6px);
            background-size: cover;
            background-color: white;"></a>
        </div>

        <div class="weekdays">
            <div ng-repeat="colum in deadlineNew.calendar.colums">
                <div class="day">{{ colum.name }}</div>
                <div class="calendar-number" data-ng-repeat="box in colum.boxs" ng-class="{'calendar-faded': box.fade}">

                    <div class='option' ng-click='deadlineNew.selectDate(15, 09, box.date, box.month -1, box.year)'>9:15</div>
                    <div class='option' ng-click='deadlineNew.selectDate(00, 13, box.date, box.month -1, box.year)'>13:00</div>
                    <div class='option' ng-click='deadlineNew.selectDate(59, 23, box.date, box.month -1, box.year)'>23:59</div>
                    <div class='calendar-number-graphic'>
                        <p>{{ box.date + ' '}}
                        <!-- <span style="font&#45;size:10px;" ng&#45;class="{'calendar&#45;faded': box.fade}">{{ box.month + ' ' + box.year}}</span> -->
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div data-ng-hide="deadlineNew.calendarSelection">
        <p style="text-align: center; font-size: 14px; margin: 6px 0px;">New Deadline</p>
        <form name="deadlineForm" ng-submit="deadlineNew.createDeadline()" novalidate>
            <div class="edit-meta">
                <input type="text" name="title" placeholder="Title" data-ng-model="deadlineNew.deadline.deadline.title" required>
                <div style="float: right;" ng-click="deadlineNew.openCalendar()">
                    {{ deadlineNew.calendar.day; }}
                    {{ deadlineNew.months[deadlineNew.calendar.month].name; }}
                    {{ deadlineNew.calendar.year; }}
                </div>
            </div>
            <div class="edit-sub-meta">
                <input type="text" name="subject" placeholder="Subject" data-ng-model="deadlineNew.deadline.deadline.subject" required>
                <!-- <input type="text" name="time" placeholder="12:00" data&#45;ng&#45;model="deadlineNew.deadline.deadline.time" style="float: right; text&#45;align: right;" required> -->
                <!-- <span style="float: right; text&#38;#45;align: right;" ng&#45;click="deadlineNew.openCalendar()">{{ deadlineNew.calendar.time }}</span> -->
                <div style="float: right;" ng-click="deadlineEdit.openCalendar()">
                    {{ deadlineNew.calendar.time }}
                </div>
                <!-- <select id="" name=""></select> -->
            </div>
            <div class="dynamic-content">
                <div text-angular ng-model="deadlineNew.deadline.deadline.content"  ta-toolbar-button-class="btn-editor"></div>
                <!-- <div data&#45;ng&#45;repeat="choice in deadlineNew.choices"> -->
                <!--     <select id="" name="klass" data&#45;ng&#45;change="deadlineNew.onChange()"  data&#45;ng&#45;options="klass.id as klass.name for klass in -->
                <!--     deadlineNew.availableKlasses[$index]" data&#45;ng&#45;model="choice.value" placeholder="Class" required> -->
                <!--         <option value="" disabled selected>Select your class</option> -->
                <!--     </select> -->
                <!--     <a class="remove" ng&#45;show="!$first &#38;&#38; (choice.value == null)" ng&#45;click="deadlineNew.removeChoice($index)">X</a> -->
                <!-- </div> -->
                <!-- <a id="addNewChoice" ng&#45;click="deadlineNew.addNewChoice()">More</a> -->


            <div data-ng-repeat="choice in deadlineNew.choices" class="dynamic-classesedit">
                <div id="" ng-show="!$last" class="dynamic-classes">
                    {{ deadlineNew.klasses[choice.value-1].name }}
                    <a class="remove" ng-show="!$first && (choice.value != null)" ng-click="deadlineNew.removeChoice($index)">X</a>
                </div>
                <select id="" ng-show="$last" name="klass" data-ng-change="deadlineNew.onChange($index)"  data-ng-options="klass.id as klass.name for klass in
                deadlineNew.availableKlasses[$index]" data-ng-model="choice.value" placeholder="Class">
                    <option value="" disabled selected>Select your class</option>
                </select>
                <!-- <a class="remove" ng&#45;show="!$first &#38;&#38; (choice.value != null)" ng&#45;click="deadlineEdit.removeChoice($index)">X</a> -->
            </div>


                <button class="btn_save" type="submit" style="margin: 0 auto;">Post deadline</button>
            </div>
            <div class="error_block" ng-messages="deadlineForm.title.$error" ng-if="deadlineForm.title.$touched || deadlineNew.submitted">
                <p ng-message="required">Title is required</p>
            </div>
            <div class="error_block" ng-messages="deadlineForm.subject.$error" ng-if="deadlineForm.subject.$touched || deadlineNew.submitted">
                <p ng-message="required">Subject is required</p>
            </div>
            <div class="error_block" ng-messages="deadlineForm.time.$error" ng-if="deadlineForm.time.$touched || deadlineNew.submitted">
                <p ng-message="required">Time is required</p>
            </div>
            <div class="error_block"  ng-if="(deadline.deadline.content == null && submitted) || (deadline.deadline.content == '' &&
                deadlineNew.submitted)">
                <p>Content is required</p>
            </div>
            <div class="error_block" ng-messages="deadlineForm.klass.$error" ng-if="deadlineForm.klass.$touched || deadlineNew.submitted">
                <p ng-message="required">Class is required</p>
            </div>
        </form>
    </div>
</div>

