<div data-ng-show="Loading" style="width: 100%; height: 100%;">
    <div class="loading"></div>
</div>
<div data-ng-show="!Loading" class="dynamic-post" style="display: block;">
    <form name="deadlineForm" ng-submit="updateDeadline()" novalidate>
        <div class="dynamic-meta">
            <input type="title" placeholder="Title" data-ng-model="selectedDeadline.deadline.title" requird>
            <select id="" name="day" data-ng-options="day for day in days" data-ng-model="selectedDeadline.deadline.day">
            </select>
            <select id="" name="month" data-ng-options="month.id as month.name for month in months" data-ng-model="selectedDeadline.deadline.month">
            </select>
            <select id="" name="year" data-ng-options="year for year in years" data-ng-model="selectedDeadline.deadline.year">
            </select>

        </div>
        <div class="dynamic-sub-meta">
            <input type="subject" placeholder="Subject" data-ng-model="selectedDeadline.deadline.subject">
            <input type="text" style="float: right; text-align: right;"  placeholder="12:00" data-ng-model="selectedDeadline.deadline.time">
            <!-- <select id="" name=""></select> -->
        </div>
        <div class="dynamic-content">
            <div text-angular ng-model="selectedDeadline.deadline.content"></div>
        </div>
        <div class="dynamic-options">
        <img class="gravatar" src="{{gravatar(selectedDeadline.deadline.creator.gravatarHash, 30)}}">
        <img class="gravatar" src="{{gravatar(selectedDeadline.deadline.editor.gravatarHash, 30)}}">
            <img class="gravatar" class="modifier" style="margin-left: 10px;" src="">
                <button class="btn_save" style="display: inline-block; float: right;" type="submit">Save</button>
                <button class="btn_save" style="display: inline-block; float: right;" type="">Cancel</button>
        </div>
    </form>
</div>
