<div data-ng-hide="selectedDeadline.deadline == 'undefined'" class="dynamic-post" style="display: block;">
    <div class="dynamic-meta">
        <h2>{{selectedDeadline.deadline.title}}</h2>
        <h2 style="float: right; text-align: right">01-01-16</h2>
    </div>
    <div class="dynamic-sub-meta">
        <h3>{{selectedDeadline.deadline.subject}}</h3>
        <h3 style="float: right; clear:both; text-align: right">00:00</h3>
    </div>
    <div class="dynamic-content">
        <textarea data-ng-model="selectedDeadline.deadline.content"></textarea>
    </div>
    <div class="dynamic-options">
        <img id="gravatar" src="http://www.gravatar.com/avatar/8a3fb7856522fb665615755df8d13f86?s=30">
        <img id="gravatar" class="modifier" style="margin-left: 10px;" src="">
        <div ng-click="deadlineChangeState('view');" style="display: inline-block; height: 30px; float: right;">
            Cancel
        </div>
        <div ng-click="deadlineChangeState('view');" style="display: inline-block; height: 30px; float: right;">
            Save
        </div>
    </div>
</div>
