<div class="dynamic-post" style="display: block;">
    <div class="dynamic-meta">
        <h2>{{selectedDeadline.deadline.title}}</h2>
        <h2 style="float: right; text-align:
            right">{{selectedDeadline.deadline.day}}-{{selectedDeadline.deadline.month}}-{{selectedDeadline.deadline.year}}</h2>
    </div>
    <div class="dynamic-sub-meta">
        <h3>{{selectedDeadline.deadline.subject}}</h3>
        <h3 style="float: right; clear:both; text-align: right">{{selectedDeadline.deadline.time}}</h3>
    </div>
    <div class="dynamic-content" ng-bind-html="selectedDeadline.deadline.content">
    </div>
    <div class="dynamic-options">
        <img class="gravatar" src="{{userCurrent.gravatar}}">
        <img id="gravatar" class="modifier" style="margin-left: 10px;" src="">
        <div ui-sref="main.archive.edit({editID: selectedDeadline.deadline.id})" style="display: inline-block; height: 30px; float: right;">
            <img class="dynamic_button" src="assets/img/options.svg" width="20px" height="30px">
        </div>
    </div>
</div>
