<div class="profile">
    <div class="profile_wrapper">
        <img class="gravatar profile_picture" src="{{gravatar(userCurrent.gravatar, 120)}}">
        <span class="profile_username">Username</span>
        <div class="profile_menu">
            <div class="profile_items">
                <p>Class:</p>
                <p>Password:</p>
                <p>Full name:</p>
                <p>E-mail:</p>
                <p>User since:</p>
            </div>
            <div class="profile_values">
            <select id="" name="klass" data-ng-options="klass.id as klass.name for klass in klassList.klasses" data-ng-model="user.klass"
                placeholder="Class">
                 <option value="" disabled selected>Select your class</option>
            </select>
                <p><a href="#">Click here to change</a></p>
                <p>Bobbie Goede</p>
                <p>{{ userCurrent.email }}</p>
                <p>21-12-2014</p>
            </div>
            <div class="profile_footer">
                <p>Change your avatar using <a href="#">Gravatar</a> with your e-mail address.</p>
                <a data-ng-click="signout()">Sign out</a>

            </div>
        </div>
    </div>
</div>
