<div class="profile">
    <div class="profile-wrapper">
        <img class="gravatar profile-picture">
        <span class="profile-username">Username</span>
        <div class="profile-menu">
            <div class="profile-items">
                <p>Class:</p>
                <p>Password:</p>
                <p>Full name:</p>
                <p>E-mail:</p>
                <p>User since:</p>
            </div>
            <div class="profile-values">
                <p><select>GAR2B</select></p>
                <p><a href="#">Click here to change</a></p>
                <p>Bobbie Goede</p>
                <p>bobbie.goede@student.hku.nl</p>
                <p>21-12-2014</p>
            </div>
            <div class="profile-footer">
                <p>Change your avatar using <a href="#">Gravatar</a> with your e-mail address.</p>
                <a href="#">Sign out</a>

            </div>
        </div>       
    </div>
</div>
