#dynamic_left
{
    width: 100%;
    height: 100%;
    float: left;
    overflow-x: hidden;
    overflow-y: auto;
    display: inline-block;
    position: relative;
    @include animation('fadein 0.644s');
    background-color: #FFF;
}

.dynamic-post{
    @include animation('fadein 0.322s');
    padding-bottom: 40px;
}

.dynamic-username{
    position: relative;
    width: 30px;
    height: 30px;
    img{
        position: absolute;
    }
    p{
        display: none;
        z-index: 10;
        float: left;
        position: absolute;
        padding: 8px 12px;
        background-color: #000;
        color: #FFF;
        margin-left: -10px;
        white-space: nowrap;
    }
    &:hover{
        p{
            display: block;
            margin-top: 40px;
            @include animation('fadeInDown 0.322s');
        }
    }
}

.list_wrapper{
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}

#dynamic_left_wrapper{
    height: 100%;
    width: 100%;
}

#dynamic_left::-webkit-scrollbar
{
    width: 0px;
    float: left;
}

.hide_deadline {
  height: 0px !important;
  @include transition(all .2s);
}

#dynamic_right
{
    width: 100%;
    height: 100%;
    float: right;
    display: inline-block;
    background-color: #FFF;
    @include animation('fadein 0.644s');
}

#dynamic_right_content {
    height: 100%;
    width: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    padding: 15px 20px;
    background-color: #fff;
    color: #000;
    word-wrap: break-word;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
    .display {
        color: #000;
        font-size:56px;
        line-height: 56px;
        font-weight: 400;
        margin: 0;
        padding: 0;
        width: 100%;
        text-align: center;
    }
    .undertitle {
        font-size: 20px;
        line-height: 32px;
        font-weight: 400;
        margin: 0;
        padding: 0;
        text-align: center;
    }
    h1{
        margin: 0px;
        display: inline-block;
        font-size: 26px;
        font-weight: normal;
    }
    h2{
        margin: 0px;
        display: inline-block;
        font-size: 20px;
        font-weight: normal;

    }
    h3{
        margin-top: 0px;
        display: inline-block;
        font-size: 14px;
        font-weight: normal;
        color: #333;
    }

    ul{
        font-size: 13px;
    }
    li{
        margin-top: 5px;
        font-size: 13px;

    }
    p{
        font-size: 13px;
    }
    a{
        font-size: 13px;
        text-decoration: none;
        color: #FE2746 !important;
        &:hover{
            color: #FFC300 !important;
        }
    }
    span{
        font-size: 13px;
        -webkit-margin-before: 1em;
        -webkit-margin-after: 1em;
        -webkit-margin-start: 0px;
        -webkit-margin-end: 0px;
    }
    .cancel{
        font-family: 'Roboto-Regular';
        padding: 8px;
        font-weight: normal;
        color: #000;
        border: none;
        outline: none;
        background-color: #FFF;
        cursor: pointer;
        font-size: 14px;
        text-transform: uppercase;
        &:hover {
            color: #000;
            background-color: hsla(0, 0%, 60%, 0.2);
        }
        &:focus {
            color: #000;
            background-color: hsla(0, 0%, 60%, 0.4);
            border:none;
        }
    }
    .hide{
        max-height: 0px;
    }
    input, select{
        font-family: Roboto-Regular;
        border-style: none;
        background-color: #FFF;
        &:focus{
            background-color: #EEE;
            outline: none;
        }
    }

    .btn-group{
        display: inline-block;
        height: 24px;
    }

}

.dynamic-content{
    div > span{
        display: flex;
    }
}

.dynamic_left_content {
    width: 100%;
    top: 0;
    z-index: 500;
}

.btn_save{
        padding: 10px 20px;
        margin: 0px 5px;
        display: block;
        background-color: #FE2746;

        border: 0px;
        border-color: #FE2746;
        border-style: solid;
        color: #FFF;

        &:hover{
            background-color: #FE3D59;
        }

        &:focus{
            border: 0px;
            border-color: #FE2746;
            border-style: solid;
        }
}

.dynamic-meta{
    input, select{
       font-size: 20px;
       padding: 0px;
       margin: 0px;
    }
    overflow: hidden;
    height: 24px;
}

.dynamic-sub-meta{
    input{
        font-size: 14px;
    }
    margin-bottom: 14px;
}

.deadline, .archivedDeadline {
    width: 100%;
    height: 70px;
    clear: both;
    display: block;
    overflow: hidden;
    -webkit-animation-timing-function: cubic-bezier(0,0,0,1);
    -moz-animation-timing-function: cubic-bezier(0,0,0,1);
    -ms-animation-timing-function: cubic-bezier(0,0,0,1);
    -o-animation-timing-function: cubic-bezier(0,0,0,1);
    animation-timing-function: cubic-bezier(0,0,0,1);

    .deadline_head
    {
        height: 100%;
        box-sizing: border-box;
        color: #fff;
        padding: 15px 20px 15px 20px;
        display: block;
        cursor: pointer;
        a
        {
            display: block;
            color: #fff;
        }
        &:hover
        {
            background-color: rgba(255,255,255,0.10);
        }
    }
    .title
    {
        font-size: 20px;
        font-family: Roboto-Regular;
    }
    .subject
    {
        font-size: 14px;
        font-family: Roboto-Light;
    }
    .count_down
    {
        font-size: 20px;
        float: right;
        text-align: right;
    }
    .remaining
    {
        font-size: 14px;
        font-family: Roboto-Light;
    }

    .counter
    {
        font-size: 30px;
        font-family: Roboto-Regular;
    }
    .digit
    {
        font-family: Roboto-Regular;
        font-size: 40px;
        line-height: 35px;
        text-align: center;
        width: 50px;
        height: 35px;
        display: block;
        float: left;
    }
    .digit_divider
    {
        font-family: Roboto-Regular;
        font-size: 25px;
        line-height: 35px;
        text-align: center;
        width: 10px;
        height: 35px;
        display: block;
        float: left;
    }
    .description_container
    {
        clear: both;
    }
    .title_container
    {
        float: left;
    }
    .description
    {
        font-family: Roboto-Regular;
        text-align: center;
        margin-right:10px;
        height: 20px;
        width: 50px;
        display: block;
        float: left;
        &:nth-of-type(3)
        {
            margin: 0;
        }
    }
    a
    {
        display: block;
    }
}
.arrow {
    width: 0;
    height: 0;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-right:10px solid #fff;
    margin-top: calc(35px - 10px);
    float: right;
    position: relative;
    display: box;
}

@media (min-width: 740px) {
    #dynamic_right
    {
        width: 61.80%;
    }
    #dynamic_left
    {
        width: 38.20%;
    }
}
