#dynamic_left
{
    width: 100%;
    height: 100%;
    float: left;
    overflow-x: hidden;
    overflow-y: auto;
    display: inline-block;
    position: relative;
    @include animation('fadein 0.644s');
    background-color: #FFF;
}

.dynamic-post{
    @include animation('fadein 0.322s');
    padding-bottom: 40px;
}

.dynamic-options{
    height: 30px;
    width: 100%;
    margin-top: 20px;
}

.dynamic-username{
    position: relative;
    width: 30px;
    height: 30px;
    float: left;
    img{
        position: absolute;
    }
    p{
        display: none;
        z-index: 10;
        float: left;
        position: absolute;
        padding: 8px 12px;
        background-color: #000;
        color: #FFF;
        margin-left: -10px;
        white-space: nowrap;
    }
    &:hover{
        p{
            display: block;
            margin-top: 40px;
            @include animation('fadeInDown 0.322s');
        }
    }
}

.list_wrapper{
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}

#dynamic_left_wrapper{
    height: 100%;
    width: 100%;
}

#dynamic_left::-webkit-scrollbar
{
    width: 0px;
    float: left;
}

.hide_deadline {
  height: 0px !important;
  @include transition(all .2s);
}

#dynamic_right
{
    width: 100%;
    height: 100%;
    float: right;
    display: inline-block;
    background-color: #FFF;
    @include animation('fadein 0.644s');
}

#dynamic_right_content {
    height: 100%;
    width: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    padding: 15px 20px;
    background-color: #fff;
    color: #000;
    word-wrap: break-word;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
    .display {
        color: #000;
        font-size:56px;
        line-height: 56px;
        font-weight: 400;
        margin: 0;
        padding: 0;
        width: 100%;
        text-align: center;
    }
    .undertitle {
        font-size: 20px;
        line-height: 32px;
        font-weight: 400;
        margin: 0;
        padding: 0;
        text-align: center;
    }
    h1{
        margin: 0px;
        display: inline-block;
        font-size: 26px;
        font-weight: normal;
    }
    h2{
        margin: 0px;
        display: inline-block;
        font-size: 16px;
        font-weight: normal;

    }
    h3{
        margin-top: 0px;
        display: inline-block;
        font-size: 14px;
        font-weight: normal;
        color: #333;
    }

    ul{
        font-size: 13px;
    }
    li{
        margin-top: 5px;
        font-size: 13px;

    }
    p{
        font-size: 13px;
    }
    a{
        font-size: 13px;
        text-decoration: none;
        color: #FE2746 !important;
        &:hover{
            color: #FFC300 !important;
        }
    }
    span{
        font-size: 13px;
        -webkit-margin-before: 1em;
        -webkit-margin-after: 1em;
        -webkit-margin-start: 0px;
        -webkit-margin-end: 0px;
    }
    .cancel{
        font-family: 'Roboto-Regular';
        padding: 8px;
        font-weight: normal;
        color: #000;
        border: none;
        outline: none;
        background-color: #FFF;
        cursor: pointer;
        font-size: 14px;
        text-transform: uppercase;
        &:hover {
            color: #000;
            background-color: hsla(0, 0%, 60%, 0.2);
        }
        &:focus {
            color: #000;
            background-color: hsla(0, 0%, 60%, 0.4);
            border:none;
        }
    }
    .hide{
        max-height: 0px;
    }
    input, select{
        font-family: Roboto-Regular;
        border-style: none;
        background-color: #FFF;
        &:focus{
            // background-color: #EEE;
            outline: none;
        }
    }

    .btn-group{
        display: inline-block;
        height: 24px;
    }

}

.dynamic-content{
    div > span{
        display: flex;
    }
}

.dynamic_left_content {
    width: 100%;
    top: 0;
    z-index: 500;
}

.btn_save{
        // padding: 10px 20px;
        // margin: 0px 5px;
        // display: block;
        // background-color: #FE2746;

        // border: 0px;
        // border-color: #FE2746;
        // border-style: solid;
        // color: #FFF;

        // &:hover{
        //     background-color: #FE3D59;
        // }

        // &:focus{
        //     border: 0px;
        //     border-color: #FE2746;
        //     border-style: solid;
        // }

        outline: none;
        font-size: 14px;
        padding: 10px 35px 12px;
        display: block;
        line-height: 10px;
        margin: 20px auto 0px;
        background-color: #FE2746;
        border: 2px;
        border-color: #FE2746;
        border-style: solid;
        border-radius: 100px;
        color: #FFF;
        @include transition(all 0.161s ease);
        &:hover{
            border-color: #FFC300;
            background-color: #FFC300;
        }
}

.dynamic-meta{
    input, select{
       font-size: 14px;
       padding: 0px;
       margin: 0px;
    }
    overflow: hidden;
    height: auto;
}

.dynamic-sub-meta{
    input{
        font-size: 14px;
    }
    margin-bottom: 14px;
}

.edit-meta{
    input, select{
       font-size: 14px;
       padding: 0px;
       margin: 0px;
    }

    input, div{
        position: relative;
       top: 50%;
       transform: translateY(-50%);
    }
    overflow: hidden;
    padding: 6px 0px;
    border-bottom: solid 1px #000;
    height: 36px;
    position: relative;
    box-sizing: border-box;
}

.edit-sub-meta{
    input{
        font-size: 14px;
    }
    margin-bottom: 14px;
    padding: 6px 0px;
    border-bottom: solid 1px #000;
}

.dynamic-classes{
    display: inline-block;
    padding: 4px 12px;
    margin: 0px 0px 0px 6px;
    border-radius: 100px;
    font-size: 12px;
    background-color: #EEE;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.dynamic-classesedit{
    display: inline-block;
    
    border-radius: 100px;
    font-size: 14px;
    
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    select{
        padding: 4px 12px;
        margin: 0px 6px 0px 0px;    
        font-size: 14px;
    }

    select option{
        -webkit-appearance:none;
        background-color: #EEE;   
    }
}

.dynamic-addclass{
    outline: none;
    font-size: 14px;
    display: inline-block;
    margin: 20px auto 0px;
    border-radius: 100px;
    font-family: 'Roboto-Light';
    @include transition(all 0.161s ease);
    &:hover{
        border-color: #FFC300;
        background-color: #FFC300;
    }
}

.deadline_done{
    height: 20px !important;
    @include transition(height 0.161s ease);
    div{
        opacity: 0;
        @include transition(opacity 0.161s ease);
    }

    &:hover{
        height: 70px !important;
        div{
            opacity: 1;
        }
    }
}

.head_left{
    display: inline-block; 
    position: relative; 
    width: 70%; 
    height: 100%;
}

.deadline, .archivedDeadline {
    width: 100%;
    height: 60px;
    clear: both;
    display: block;
    overflow: hidden;
    -webkit-animation-timing-function: cubic-bezier(0,0,0,1);
    -moz-animation-timing-function: cubic-bezier(0,0,0,1);
    -ms-animation-timing-function: cubic-bezier(0,0,0,1);
    -o-animation-timing-function: cubic-bezier(0,0,0,1);
    animation-timing-function: cubic-bezier(0,0,0,1);
    -webkit-transform: translateZ(0);
    .deadline_head
    {
        -webkit-transform: translateZ(0);
        height: 100%;
        box-sizing: border-box;
        color: #fff;
        padding: 15px 20px 15px 20px;

        display: block;
        cursor: pointer;
        a
        {
            display: block;
            color: #fff;
        }
        &:hover
        {
            .title{
                transform: translateY(-100%);
            }
            .subject{
                opacity: 1 !important;
                transform: translateY(0%);
                margin-top: 4px;
            }
        }
        &:active
        {
            background-color: rgba(0,0,0,0.10);
        }
    }
    .title
    {
        font-size: 16px;
        font-family: Roboto-Regular;
        top: 50%;
        // width: 50%;
        // display: inline-block;
        transform: translateY(-50%);
        position: absolute;
        @include transition(transform 0.161s ease);
        &::first-letter{
            text-transform: capitalize;
        }
    }
    .subject
    {
        font-size: 12px;
        font-family: Roboto-Regular;
        position: absolute;
        opacity: 0;
        top: 50%;
        margin-top: 0px;
        transform: translateY(-50%); 
        @include transition(all 0.161s ease);
        &::first-letter{
            text-transform: capitalize;
        }
    }
    .count_down
    {
        font-size: 16px;
        font-family: Roboto-Regular;
        top: 50%;
        // width: 50%;
        // display: inline-block;
        transform: translateY(-50%);
        // position: absolute;
        @include transition(transform 0.161s ease);
        &::first-letter{
            text-transform: capitalize;
        }

        float: right; 
        text-align: right;  
        position: relative;
    }
    .remaining
    {
        font-size: 14px;
        font-family: Roboto-Light;
    }

    .counter
    {
        font-size: 30px;
        font-family: Roboto-Regular;
    }
    .digit
    {
        font-family: Roboto-Regular;
        font-size: 40px;
        line-height: 35px;
        text-align: center;
        width: 50px;
        height: 35px;
        display: block;
        float: left;
    }
    .digit_divider
    {
        font-family: Roboto-Regular;
        font-size: 25px;
        line-height: 35px;
        text-align: center;
        width: 10px;
        height: 35px;
        display: block;
        float: left;
    }
    .description_container
    {
        clear: both;
    }
    .title_container
    {
        float: left;
    }
    .description
    {
        font-family: Roboto-Regular;
        text-align: center;
        margin-right:10px;
        height: 20px;
        width: 50px;
        display: block;
        float: left;
        &:nth-of-type(3)
        {
            margin: 0;
        }
    }
    a
    {
        display: block;
    }
}
.arrow {
    width: 0;
    height: 0;
    border-top: 6px solid transparent;
    border-bottom: 6px solid transparent;
    border-right: 6px solid #fff;
    // margin-top: calc(35px - 10px);
    float: right;
    position: relative;
    display: box;
    top: 50%;
    transform: translateY(-50%);
}

@media (min-width: 740px) {
    #dynamic_right
    {
        width: 61.80%;
    }
    #dynamic_left
    {
        width: 38.20%;
    }
}
