.signin {
    top: 50%;
    position: relative;
    width: 300px;
    height: 25s0px;
    margin: auto;
    display: block;
    /*background-color: #FFF;*/
    color: #fff;
    transform: translateY(-50%);
    form
    {
    }
    input[type="email"], input[type="password"], button
    {
        width: 100%;
        clear: both;
    }
    h1{
        padding: 10px;
        font-family: "Roboto-Light";

        /*text-align: center;*/
    }
    input{
        border-style: none;
        padding: 10px;
        background-color: #EEE;
        &:focus{
            background-color: #FFF;
            border-style: none;
            border: 0px;
            outline: none;
        }
    }
    button{
        padding: 10px;
        margin-top: 20px;
        background-color: #FE2746;

        border: 0px;
        border-color: #FE2746;
        border-style: solid;
        color: #FFF;
    }
    a{
        text-decoration: none;
        color: #BBB;
        &:hover{
            color: #555;
        }
    }
}

.signin_button{
    display: inline-block;
    padding: 20px;
}