input:-webkit-autofill
{
    -webkit-box-shadow: 0 0 0px 1000px #FFEDB2 inset;
}

.signin {
    top: 50%;
    position: relative;
    width: 200px;
    height: auto;
    margin: auto;
    display: block;
    /*background-color: #FFF;*/
    color: #fff;
    transform: translateY(-50%);
    a{
        text-decoration: none;
        color: #FE2746;
        &:hover{
            color: #FFC300;
        }
    }
    form{
    }
    select, input[type="email"], input[type="password"], button
    {
        width: 100%;
        clear: both;
    }
    h1{
        padding: 10px;
        font-family: "Roboto-Light";

        /*text-align: center;*/
    }
    input, select{
        font-family: Roboto-Regular;
        border-style: none;
        padding: 10px;
        
        background-color: #FFF;
        &:focus{
            background-color: #EEE;
            border-style: none;
            border: 0px;
            outline: none;
        }
    }
}

#form{
    background-color: #FFF;
    // height: 200px;
    padding: 20px 0px;
    // box-sizing: border-box;
}

.signin_button{
    display: block;
    padding: 20px;
    margin: 0 auto;
    text-align: center;
}