input:-webkit-autofill
{
    -webkit-box-shadow: 0 0 0px 1000px #FFEDB2 inset;
}

.signin {
    padding: 200px 0px 0px 0px;
    width: 400px;
    height: auto;
    margin: auto;
    display: block;

    /*background-color: #FFF;*/
    color: #fff;
    a{
        text-decoration: none;
        color: #FE2746;

        &:hover{
            color: #FFC300;

        }
    }
    form{

    }
    select, input[type="email"], input[type="password"]
    {
        width: 100%;
        clear: both;
        font-size: 12px;
    }
    h1{
        padding: 10px;
        font-family: "Roboto-Light";

        /*text-align: center;*/
    }
    input, select{
        font-family: Roboto-Regular;
        border-style: none;
        padding: 10px;
        width: 200px;
        display: block;
        margin: 0 auto;
        background-color: #FFF;
        &:focus{
            background-color: #EEE;
            border-style: none;
            border: 0px;
            outline: none;
        }
    }
    button{
        padding: 10px;
        margin: 20px auto 0px;
        display: block;
        background-color: #FE2746;

        border: 0px;
        border-color: #FE2746;
        border-style: solid;
        outline: none;
        color: #FFF;
        width: 50%;
        @include transition(all .161s ease);
        &:hover{
            background-color: #FFC300;
        }
    }
    p{
        margin: 0 20px;
        text-align: center;
    }

}

#form{
    @include transition(all .161s ease);
    // background-color: #FFF;
    max-height: 1000px;
    // padding: 20px 0px;
    // box-sizing: border-box;
    input{
        font-size: 12px;
        width: 200px;
        display: block;
        margin: 0 auto;
    }
    p{
        color: #FFF;
    }
}

.signup_step{
    // @include transition(all .161s ease);
    animation: fadeinfromright .611s;
}

.signup_button{
    background-color: #FFF;
    padding: 0 0 20px 0;
    button{
        margin: 0 auto;
        // font-size: 12px;
    }
}

.signin_button{
    display: block;
    // padding: 20px;
    margin: 0 auto;
    text-align: center;
}

.help_block{
    animation: fadein .611s;
    color: #FFF;
}