.timetable{
	width: 100% !important; 
	position: absolute; 
	left: 0; 
	overflow: scroll !important; 
	overflow-y: scroll !important; 
	height: 100%;
}

// table > tbody > tr{
// 	min-height: 50px;
// }