.timetable{
	width: 100% !important; 
	position: absolute; 
	left: 0; 
	overflow: scroll !important; 
	overflow-y: scroll !important; 
	height: 100%;
}

.timetable_list_menu{
	padding: 20px;
}

.timetable_list_button{
	display: inline-block;
	padding: 20px;
}
// table > tbody > tr{
// 	min-height: 50px;
// }