@font-face {
  font-family: Roboto-Regular;
  src: url(../files/RobotoRegular.ttf); }
@font-face {
  font-family: Roboto-Regular;
  src: url(../files/RobotoBold.ttf);
  font-weight: bold; }
@font-face {
  font-family: Roboto-Medium;
  src: url(../files/RobotoMedium.ttf); }
@font-face {
  font-family: Roboto-Regular;
  src: url(../files/RobotoItalic.ttf);
  font-style: italic; }
@font-face {
  font-family: Roboto-light;
  src: url(../files/RobotoLight.ttf); }