@font-face {
  font-family: Roboto-Regular;
  src: url(../fonts/RobotoRegular.ttf); }
@font-face {
  font-family: Roboto-Regular;
  src: url(../fonts/RobotoBold.ttf);
  font-weight: bold; }
@font-face {
  font-family: Roboto-Medium;
  src: url(../fonts/RobotoMedium.ttf); }
@font-face {
  font-family: Roboto-Regular;
  src: url(../fonts/RobotoItalic.ttf);
  font-style: italic; }
@font-face {
  font-family: Roboto-light;
  src: url(../fonts/RobotoLight.ttf); }