.welcome{
  height: 200%;
}

.welcome_content{
  height: calc(100vh - 10%);
  width: 1118px;
  margin: 0 auto;
  text-align: left;
  z-index: 100;
  position: relative; 
}

.welcome_info{
  color: #FFF;
  display: inline-block;
  width: 50%;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  h1{
    font-size: 36px;
    font-weight: normal;
    font-family: 'Roboto-Regular';
    margin: 0;
  }
  h3{
    font-size: 30px;
    font-weight: normal;
    font-family: 'Roboto-Light';
    margin: 30px 0px;

  }
}

.fb-like{
  margin-top: 30px;
  display: inline-block;
  text-align: center;
  img{
    border-radius: 100px !important;
    color: #fff !important;
  } 
}

.welcome_mockup{
  margin: 0 auto;
  text-align: center;
  position: fixed;
  width: 1118px;
  bottom: 0px;
  height: 60%;
}

.welcome_mockup_img{
  margin: 0 auto; 
  @include animation('fadeInDown2 1.68s');
  @include animation-fill-mode(forwards);
  opacity: 0;
  height: 100%;
}

.welcome_menu{
  user-select: none;
  position: relative;
  width: 100%;
  button{
    font-size: 14px;
    padding: 10px 35px 12px;
    position: relative;
    line-height: 10px;
    margin-right: 20px;
    background-color: #FE2746;
    border: 2px;
    border-color: #FE2746;
    border-style: solid;
    border-radius: 100px;
    outline: none;
    color: #FFF;
    min-width: 35%;
    @include transition(all 0.161s ease);
    &:hover{
      background-color: #FFC300;
      border-color: #FFC300;
    }
  }
  a{
    @include transition(all 0.161s ease);
    text-decoration: none;
    color: #FE2746;
    &:hover{
      color: #FFC300;
    }
  }
}

.welcome_preview{
  top: 60%;
  right: 0px;
  position: relative;
  transform: translateY(-50%);
  height: 95%;
  width: 38.20%;

  background-image: url("/assets/img/Deadlines-preview.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: right top;
}

.welcome_signin{
  border-color: #FE2746;
  background-color: rgba(0,0,0,0) !important;
  color: #FE2746 !important;
    &:hover{
      color: #FFC300 !important;
    }
}

.about_content{
  position: relative;
  z-index: 10;
  width: 100%;
  position: relative;
  height: calc(100% + 120px);
  background-color: #0B0C0C;
  text-align: center;
  img{
    width: 50%;
    height: auto;
  }
}

.about_profile{
  display: inline-block;
  height: 60%;
  top: 50%;
  transform: translateY(-50%);
  position: relative;
  h2{
    font-size: 24px;
    font-weight: 300;
    margin: 20px 0px 0px;
  }
  h3{
    font-size: 20px;
    margin: 6px 0px 16px;
    font-weight: normal;
    color: rgba(256,256,256,0.6);
  }
  p{
    margin: 10px 0px;
  }
  a{
    color: #FE2746;
    text-decoration: none;
    &:hover{
      color: #FFC300;
    }
  }
}

.welcome_gradient{
  background: -webkit-linear-gradient(top,  rgba(28, 29, 30, 0) 0%,rgba(28, 29, 30, 1) 100%);
  background: -moz-linear-gradient(top,  rgba(28, 29, 30, 0) 0%,rgba(28, 29, 30, 1) 100%);
  background: -ms-linear-gradient(top,  rgba(28, 29, 30, 0) 0%,rgba(28, 29, 30, 1) 100%);
  background: -o-linear-gradient(top,  rgba(28, 29, 30, 0) 0%,rgba(28, 29, 30, 1) 100%);
  background: linear-gradient(top,  rgba(28, 29, 30, 0) 0%,rgba(28, 29, 30, 1) 100%);
  width: 1118px;
  height: 300px;
  position: fixed;
  bottom: 0px;
  z-index: 10;
}