<!-- <h1 style="color: #fff;">Deadlines</h1> -->
<div style="width:100%; height:100%;">
    <div class="signin">
        <div id="form">
            <form class="form" name="SignupForm" novalidate ng-submit="signup()" >
                <div data-ng-show="signupStep == 0">
                    <input type="email" name="email" placeholder="email" ng-model="user.email" required/>
                    <button ng-click="signupStep = 1">Next</button>
                </div>
                <div data-ng-show="signupStep == 1">
                    <input type="text" name="firstname" placeholder="First name" ng-model="user.firstname" required/>
                    <input type="text" name="prefix" placeholder="Prefix" ng-model="user.prefix" required/>
                    <input type="text" name="lastname" placeholder="Last name" ng-model="user.lastname" required/>
                    <button ng-click="signupStep = 2">Next</button>
                </div>
                <div data-ng-show="signupStep == 2">
                    <input type="password" name="password" placeholder="password" ng-model="user.password" required/>
                    <input type="password" name="password_confirmation" placeholder="password confirmation" ng-model="user.password_confirmation" required/>
                    <button ng-click="signupStep = 3">next</button>
                </div>
                <div data-ng-show="signupStep == 3">
                    <select id="" name="klass" data-ng-options="klass.id as klass.name for klass in klasslist.klasses" data-ng-model="user.klass" placeholder="class">
                        <option value="" disabled selected>select your class</option>
                    </select>
                    <button ng-click="signupStep = 4">Sign up</button>
                </div>
                <div data-ng-show="signupStep == 4">
                    <p style="color:#000;">Welcome to Deadlines, you only have to activate your acount with the mail we just send you!</p>
                </div>
            </form>
        </div>
        <div class="signin_button"><a data-ui-sref="signin">Signin</a></div>
    </div>
</div>

<div data-ng-show="signupStep == 4" style="width:100%; height:100%;">
    <div class="signin">
        <h1 style="color: #fff;">step 5</h1>
        <div id="form">
            <form class="form" name="signupform" novalidate ng-submit="signup()" >
                <input type="password" name="password" placeholder="password" ng-model="user.password" required/>
                <input type="password" name="password_confirmation" placeholder="password confirmation" ng-model="user.password_confirmation" required/>
                <select id="" name="klass" data-ng-options="klass.id as klass.name for klass in klasslist.klasses" data-ng-model="user.klass" placeholder="class">
                    <option value="" disabled selected>select your class</option>
                </select>
                <button type="submit">signup</button>
            </form>
        </div>
    </div>
</div>
